<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <meta charset="utf-8">

    <title>recs4m | Top</title>

    <!--Bootstrap CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        #new-reservation {
            text-align: right;
            display: block;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">recs4m</a>
    </nav>
    <div class="container mt-5">
        <div class="row ml-0 mr-0">
            <h2>Reservations</h2>
            <form class="ml-auto" method="get" action="/new">
                <button type="submit" class="btn btn-primary" id="new-reservation-button">New</button>
            </form>
        </div>
        <div class="mt-2 row" id="accordion" role="tablist">
            <!--{{range .Reservations}}-->
            <div class="card w-100">
                <div class="card-header" role="tab" id="reservation-heading-{{.Index}}">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#reservation-collapse-{{.Index}}" aria-expanded="true" aria-controls="reservation-collapse-{{.Index}}">
                            {{.Title}}: {{dayOfWeekToString .DayOfWeek}} {{timeToString .StartTime}} - {{timeToString (addDuration .StartTime .Duration)}}
                        </a>
                    </h5>
                </div>

                <div id="reservation-collapse-{{.Index}}" class="collapse " role="tabpanel" aria-labelledby="reservation-heading-{{.Index}}"
                    data-parent="#accordion">
                    <div class="card-body">
                        <form action="/update" method="post">
                            <input type="hidden" value="{{.ID}}" name="id">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Title</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="{{.Title}}" name="title">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Start time</label>
                                <div class="col-md-5">
                                    <select class="form-control day-of-week-select" name="dayOfWeek">
                                        <option value="0">Sunday</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" type="time" value="{{timeToString .StartTime}}" name="startTime">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Duration (min)</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="number" min="1" max="1440" value="{{.Duration}}" name="duration">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2">Every week</label>
                                <div class="col-md-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input everyweek-checkbox" type="checkbox" name="everyweek" value="checked"> Check
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" id="submit-{{.Index}}-hidden" hidden>Submit</button>
                        </form>

                        <div style="display: flex">
                            <div class="mr-auto">
                                    <button class="btn btn-primary update-fake-buton" data-action-target="#submit-{{.Index}}-hidden">Update</button>
                            </div>
                            <div>
                                <button class="btn btn-danger mr-0 remove-button" data-remove-target="{{.ID}}">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--{{end}}-->
    </div>

    </div>
    <div class="container mt-5">
            <div class="row ml-0 mr-0">
            <h2>Recent Logs</h2>
            <form class="ml-auto" method="get" action="/clear_logs">
                <button type="submit" class="btn btn-danger" id="new-reservation-button">Clear Logs</button>
            </form>
            </div>

            <div class="row">        
                <div class="table-responsive container">
                    <table class="table">
                        <thead>
                            <tr class="row">
                                <th class="col-4" scope="col">Date and Time</th>
                                <th class="col-8" scope="col">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--{{range .Logs}}-->
                            <tr class="row">
                                <td  class="col-4">{{dtToString .Time}}</td>
                                <td  class="col-8">{{.Message}}</td>
                            </tr>
                        <!--{{end}}-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            var reservations = {{.Reservations}};

            $(".day-of-week-select").each(function (index) {
                $(this).prop('selectedIndex', reservations[index].DayOfWeek);
            });
            $(".everyweek-checkbox").each(function (index) {
                $(this).attr('checked', reservations[index].Everyweek);
            });

            $(".update-fake-buton").click(function(){
                $($(this).attr('data-action-target')).click()
            });
            $(".remove-button").click(function(){
                if(confirm("Do you really remove this?")) {
                    location.href="/remove/" + $(this).attr('data-remove-target')
                }
            });
        })
    </script>
</body>

</html>